<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Pets for Adoption</title>
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <h1>Available Pets</h1>
    <h1>ZORRO</h1>
    <ul>
        <% if (pets && pets.length > 0) { %>
            <% pets.forEach(pet => { %>
                <li>
                    <h2><%= pet.name %> (Breed: <%= pet.breed %>)</h2>
                    <p>Age: <%= pet.age %></p>
                    <p>Location: <%= pet.location %></p>
                    <p>Price: <%= pet.price %></p>
                    <img src="<%= pet.profileImage %>" alt="<%= pet.name %>" width="100px">
                    <a href="/pets/<%= pet._id %>">View Details</a>
                    <a href="/create-pet">Add a Pet</a>

                </li>
            <% }); %>
        <% } else { %>
            <p>No pets available for adoption.</p>
        <% } %>
    </ul>
</body>
</html>
