<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Pets for Adoption</title>
    <link rel="shortcut icon" href="./public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 class="title">Zorro</h1>
    <div class="search-container">
        <input type="text" placeholder="Search" name="search"><ion-icon name="search-outline"></ion-icon></input>
    </div>
    <a href="/create-pet">Add a Pet</a>
    <nav>
        <% if (!user) { %>
            <a href="/signup">Sign Up</a>
            <a href="/login">Login</a>
        <% } else { %>
            <a href="/logout">Logout</a>
        <% } %>
    </nav>

    <ul>
        <% if (pets && pets.length > 0) { %>
            <% pets.forEach(pet => { %>
                <li><a href="/pets/<%= pet._id %>">
                        <div class="pet-image">
                            <img src="<%= pet.profileImage %>" alt="<%= pet.name %>">
                            <div class="shadow">
                                <div class="container">
                                    <h2><%= pet.name %></h2>
                                    <p class="age"><%= pet.age %></p>
                                    <p class="dot"><ion-icon name="ellipse"></ion-icon></p>
                                    <p class="price">$<%= pet.price %></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            <% }); %>
        <% } else { %>
            <p>No pets available for adoption.</p>
        <% } %>
    </ul>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
